#mainTitle {
    background-color:antiquewhite;
    color: black;
    text-align: center;
}

#testArticle {
    background-color: aliceblue;
    color: black;
    
}

ul {
  overflow: hidden;
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    float: left;
    display: inline;
    color: white;
    padding: 2em;
}

li:hover {
    background-color: #111;
    color: greenyellow;
}

#test {
    background-color: aqua;
    color: orange;
}
